.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.frame {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #ccc;
  border: 7px solid #7b7b7b;
  border-top-color: #fff;
  border-left-color: #fff;
  box-shadow: 2px 2px 5px #000;
}

.board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 270px;
  height: 270px;
  border: solid 6px #7b7b7b;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.bomb {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('icons/icons.png') no-repeat;
  background-color: #d1d1d1;
  background-position: -300px;
  box-shadow: inset 0 0 0 1px #3c3c3c;
}

.stone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: auto;
  background-color: #ccc;
  border: solid 5px #646464;
  border-top-color: #fff;
  border-left-color: #fff;
}

.bombCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 40px;
  color: rgb(214 46 46);
  content: counter(number);
  background-color: black;
}

.smile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background: url('icons/icons.png') no-repeat;
  background-color: aqua;
  background-position: -330px;
  border: 10px solid #7b7b7b;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.smileArea {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 270px;
  height: 80px;
  border: 6px solid #7b7b7b;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 40px;
  color: rgb(214 46 46);
  content: counter(number);
  background-color: black;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: url('icons/icons.png') no-repeat;
  background-position: -180px;
  background-size: 280px;
}
